@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: url("fonts/pt-sans-regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/pt-sans-bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/pt-sans-narrow-regular.woff2") format("woff2");
	font-display: swap;
}

.title {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 35px;
	text-transform: uppercase;
}

.button {
	font-family: "PT Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	background-color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}

.button-light {
	color: #242424;
	background-color: #FFFFFF;
}

input::placeholder {
	color: #BDBDBD;
	font-weight: 700;
}


html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	min-height: 100%;
	flex-direction: column;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;

	color: #242424;
	background: #F3F3F3;
}

/* header */
.page-header {
	color: #FFFFFF;
	background-color: #000000;
}

.navigation {
	display: flex;
	width: 940px;
	margin: 0 auto;
}

.navigation-list {
	display: flex;
	width: 430px;
	margin: 0;
	padding: 0;
}

.navigation-link {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: inherit;
	text-decoration: none;
	padding: 24px 20px;
}

.navigation-user {
	max-width: 250px;
	margin-left: auto;
}

/* main */
.main-conteiner {
	flex-grow: 1;
}

.index-main {
	color: #FFFFFF;
	background-color: #000000;
	background-image: url("/images/interior-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.main-inner {
	background-image: url("/images/noisy-texture.png");
	background-repeat: repeat;
}

.page-container {
	width: 940px;
	margin: 0 auto;
}

/* Лого */
.logo {
	display: block;
	margin: 0 auto;
}

/* Преимущества */
.advantages-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	text-align: center;
}

.advantages-item {
	width: 277px;
}

.index-columns {
	background-color: #F3F3F3;
	background-image: url("/images/noisy-texture.png");
	background-repeat: repeat;
	color: #242424;

}

.index-columns {
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
}

/* Услуги */
.services {
	width: 390px;
	text-transform: uppercase;
}

.services-list {
	margin: 0px;
	padding: 0px;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}

.services-item {
	display: flex;
	justify-content: space-between;
}

.services-price {
	color: #AF7842;
}

/* Фотогалерея */
.gallery {
	width: 390px;
}

.slider-pagination {
	display: flex;
	justify-content: space-between;
	width: 56px;
	height: 8px;
}

.slider-pagination-button {
	width: 8px;
	height: 8px;
	background-color: #BDBDBD;
	border-radius: 50%;
}

.slider-pagination-button-current {
	background-color: #242424;
}

/* Контакты */
.contacts {
	width: 350px;
}

.contacts-subtitle {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	color: #AF7842;
}

.contacts-address {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.contacts-address-phone {
	font-family: "PT Sans Narrow", sans-serif;
	text-decoration: none;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #242424;
}

.contacts-schedule {
	font-weight: 700;
}

.button-feedback {
	padding: 14px 20px;
	color: #242424;
	background-color: #FFFFFF;
}

/* Формы записаться */
.appointment {
	width: 430px;

}

.appointment-description {
	font-size: 14px;
	line-height: 20px;
}

.appointment-form label {
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
}


/* Подвал */
.page-footer {
	background-color: #242424;
	background-image: url("/images/noisy-texture.png");
	background-repeat: repeat;
	color: #FFFFFF;
}

.footer-conteiner {
	display: flex;
	width: 940px;
	margin: 0 auto;
}

.footer-contacts {
	width: 200px;
	margin-right: 130px;
}

.footer-contacts-address {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.footer-contacts-address-phone {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
}

.footer-contacts-map-link {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
	text-transform: uppercase;
}


.footer-title {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
}

.socials {
	width: 185px;
	margin-left: auto;
}

.footer-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px
}

.author-link {
	color: #AF7842;
}

.breadcrumbs {
	display: flex;
}

.breadcrumbs-link {
	color: #242424;
}

.breadcrumbs-link:last-child {
	color: #595959;
}

.catalog-filter-title {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
}

.control-label {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #242424;
}

.catalog-filter .button {
	padding: 14px 20px;
	background-color: #000000;
}

.sorting-conteiner {
	background-color: #FFFFFF;
	color: #000000;
}



.select-controle {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.product-card-list {
	display: flex;
	flex-wrap: wrap;
}

.product-card-item {
	display: flex;
	flex-direction: column;
}

.product-card-link {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}

.product-card-price {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: #814B18;
}

.product-card-button {
	background-color: #000000;
	padding: 16px 65px;
}

.pagination-link {
	font-weight: 700;
	line-height: 16px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000000;
}

.pagination-current {
	background-color: #FFFFFF;
	color: #242424;
}

.pagination-show-more {
	padding: 14px 20px;
	background-color: #000000;
	color: #FFFFFF;
}